page-edit {

    .button-bar {
        position: fixed; 
        width: 100%; 
        bottom: 0; 
        left: 0;
    }

    .previewandcapture {
        width: 80%;
        margin: auto;
    }

    @media (min-width: 550px) {
        .previewandcapture {
            width: 45%;
        }
    }

    #previewCaptureContainer {
        display: flex; 
        align-items: flex-end;
        justify-content: center;
        
    }

    .icons {
        font-size: 60px;
    }
}
