<!--
  Generated template for the EditPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>edit</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <img style="transform: rotate(90deg)" [src]="_image.image.fileName" *ngIf="_image.show === 'camera'">
    <img id="edit" style="transform: rotate(90deg)" [src]="_image.images[index].fileName" *ngIf="_image.show === 'home'">
    <ion-input [(ngModel)] = "_image.image.subtitle" type="text" placeholder="Subtitle"></ion-input>
    <ion-input [(ngModel)] = "_image.image.description" type="text" placeholder="Description"></ion-input>
    <button block ion-button *ngIf="_image.show === 'camera'" (click) = "saveToDatabase()">Save</button>
    <button block ion-button *ngIf="_image.show === 'home'" (click) = "saveFromEditing()">Edit</button>
</ion-content>
