<!--
  Generated template for the EditPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>edit</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid *ngIf="_image.show === 'camera'">
    <ion-row>
      <ion-col col-12 style="display: flex; align-items: flex-end">
        <video *ngIf="videoDisplay === true" #video autoplay style="width: 80%; margin: auto;"></video>
        <img #screenshotimage alt="" style="width: 80%; display: none">
      </ion-col>
    </ion-row>

    <ion-row class="button-bar" text-center *ngIf="videoDisplay === true">
      <ion-col col-12>
        <ion-icon id="screenshot-button" (click)="takeScreenshot()" name="aperture" style="font-size: 60px;"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row class="button-bar" text-center *ngIf="screenshotDisplay === true">
      <ion-col col-6>
        <ion-icon (click)="showEditFields()" name="checkmark-circle" style="font-size: 60px"></ion-icon>
      </ion-col>
      <ion-col col-6>
        <ion-icon (click)="takeAnother()" name="trash" style="font-size: 60px"></ion-icon>
      </ion-col>
    </ion-row>

    <div *ngIf="editFieldsDisplay">
      <ion-input [(ngModel)]="_image.image.subtitle" type="text" placeholder="Subtitle"></ion-input>
      <ion-input [(ngModel)]="_image.image.description" type="text" placeholder="Description"></ion-input>
      <button block ion-button (click)="saveToDatabase()" [disabled]="videoDisplay">Save</button>
    </div>

  </ion-grid>

  <div *ngIf="_image.show === 'home'">
    <img id="edit" [src]="_image.images[index].fileName" *ngIf="_image.show === 'home'">
    <ion-input [(ngModel)]="_image.image.subtitle" type="text" placeholder="Subtitle"></ion-input>
    <ion-input [(ngModel)]="_image.image.description" type="text" placeholder="Description"></ion-input>
    <button block ion-button *ngIf="_image.show === 'home'" (click)="saveFromEditing()">Edit</button>
  </div>

</ion-content>