<!--
  Generated template for the EditPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title text-center>Camera/Edit</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid *ngIf="_image.show === 'camera'">
    <ion-row>
      <ion-col id="previewCaptureContainer" col-12>
        <video class="previewandcapture" #video autoplay></video>
        <img  #screenshotimage alt="" style="display: none; max-height: 350px;">
      </ion-col>
    </ion-row>

    <ion-row class="button-bar" text-center *ngIf="videoDisplay === true">
      <ion-col col-6>
        <ion-icon class="icons"  id="screenshot-button" (click)="takeScreenshot()" name="aperture"></ion-icon>
      </ion-col>
      <ion-col col-6>
          <ion-icon class="icons" name="reverse-camera" (click)="reverseCamera()"></ion-icon>
        </ion-col>
    </ion-row>

    <ion-row class="button-bar" text-center *ngIf="screenshotDisplay === true">
      <ion-col col-6>
        <ion-icon class="icons" (click)="showEditFields()" name="checkmark-circle"></ion-icon>
      </ion-col>
      <ion-col col-6>
        <ion-icon class="icons" (click)="takeAnother()" name="trash"></ion-icon>
      </ion-col>
    </ion-row>

    <div *ngIf="editFieldsDisplay">
      <ion-input [(ngModel)]="_image.image.subtitle" type="text" placeholder="Subtitle"></ion-input>
      <ion-input [(ngModel)]="_image.image.description" type="text" placeholder="Description"></ion-input>
      <button block ion-button (click)="saveToDatabase()" [disabled]="videoDisplay">Save</button>
    </div>

  </ion-grid>

  <div *ngIf="_image.show === 'home'">
    <img id="edit" [src]="_image.images[index].fileName" *ngIf="_image.show === 'home'">
    <ion-input [(ngModel)]="_image.image.subtitle" type="text" placeholder="Subtitle"></ion-input>
    <ion-input [(ngModel)]="_image.image.description" type="text" placeholder="Description"></ion-input>
    <button block ion-button *ngIf="_image.show === 'home'" (click)="saveFromEditing()">Edit</button>
  </div>

</ion-content>