<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="home">
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        <p *ngIf="_image.photoTaken"> {{_image.image.subtitle}} </p> 
      </ion-col>
    </ion-row>
<br><br>
    <ion-row>
        <ion-col>
            <img style="transform: rotate(90deg)" [src]="_image.image.fileName" *ngIf="_image.photoTaken"> 
        </ion-col>
    </ion-row>
<br><br>
    <ion-row>
        <ion-col text-center>
            <p *ngIf="_image.photoTaken"> {{_image.image.description}} </p>
        </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>