<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="home">
  <ion-grid *ngFor = "let image of _image.images">
    <ion-row>
      <ion-col text-center>
        <p *ngIf="_image.images"> {{image.subtitle}} </p> 
      </ion-col>
    </ion-row>
<br><br>
    <ion-row>
        <ion-col>
            <img style="transform: rotate(90deg)" [src]="image.fileName" *ngIf="_image.images"> 
        </ion-col>
    </ion-row>
<br><br>
    <ion-row>
        <ion-col text-center>
            <p *ngIf="_image.images"> {{_image.image.description}} </p>
        </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>